.form-range {
  width: 100%;
}

.form-select {
  align-items: right;
}

.table-striped {
  width: 100%; /* Ensure the table spans the full width of its container */
}

/* Hover effect */
.custom-share-btn:hover {
  background-color: #6c757d; /* Change background on hover */
  color: white; /* Change text color on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add slight shadow */
  transform: translateY(-2px); /* Slight lift */
}

/* Active/Clicked effect */
.custom-share-btn:active {
  background-color: #495057; /* Darker shade on click */
  transform: translateY(0); /* Pressed-down effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow */
}

/* Feedback state for "Link Copied!" */
.custom-share-btn.copied {
  background-color: #28a745; /* Green for success */
  color: white; /* Text color for success */
  border-color: #28a745; /* Green border */
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
